#reset {
    display: none;
  }
  
  #bigbox { width: 50%;
      margin-left: 25%;
  
     
      text-align: center;
      color:white;
  }
  #randomBox{ 
    width: 150px;
    font-size: 20px;
    text-align: center;
    height: 25px;
    background-color: darkslategray;
    color: white;
    position:center;

  }
  #selections{
      
  }
  
  #box {
  
      background-color:darkslategray;
      text-align: center;
  }
  p1{
      color:white;
      size: 20px;
  }
  
  #bap{
      /* min-height: 100% !important; */
     /* background-color: deepskyblue; */
     /* padding: 300px; */
     margin: 0 auto !important;
  
  }
  #test{ height: 400px;
  
  }
  #dest{
      font-size: 50px;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      color: white;
  }
  #get{
      font-style: italic;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      color:white;
  }

  
  
  #bar{
      background-color:darkslategray;
  }
  #rad{
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-size: 20px;
      text-align: left;
      font-style: italic;
      color: red;
  }
  #lab{
    color:red;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-size: 20px;
      font-style: italic;
  
  }
  /* #input-field, .col, .s12{
      color: black;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-size: 20px;
      font-style: italic;
      width: 30px;
  } */
  #hike{
    color:red;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-size: 20px;
      font-style: italic;
  
  }
  option{
    color:red;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  #mapid {
      height: 340px;
      /* width: 40%; */
      margin-left: 80px;
      margin-top: 50px;
      /* float: right; */
      /* right: 100px; */
  }
  
 
  
  